#Archive files
not_final_notebook.ipynb
Save_State_7_12.ipynb
student_with_amenities.ipynb
Airbnb_Project Slides.pdf


#Data Files
data/listings.csv
data/listings.csv.gz
Data/reviews.csv.gz

.ipynb_checkpoints/